:root {
  --color-primary: #f8f9fa;
  --color-secondary: #202124;
  --color-tertiary: #686868;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.player-config {
  width: 784px;
  margin-bottom: 10px;
}

.player-container {
  width: 784px;
  height: 350px;
  position: relative;
  background-color: #e3e3e3;
}

.player-container video {
  width: inherit;
  height: inherit;
}

.player-container .player-controls {
  position: absolute;
  box-sizing: border-box;
  padding: 3px;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(33, 33, 33, 0.285);
  color: var(--color-primary);
}